//- NOTE pug is weird, in that it uses indentation for nesting
//- ALSO NOTE Pug.js uses //- for comments
extends layout

block content
    h1 #{title}
    ul.list-group.mx-3
      each article, i in articles
        li.list-group-item
          a(href="/article/"+ article._id)= article.title
          p= article.body