//- General layout
doctype html
html
  head
    title Knowledgebase
    //- Fetch Bootstrap assets
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='/css/style.css')
  body
    nav.navbar.navbar-dark.bg-dark.navbar-expand-md
      .container
        .navbar-header
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          a.navbar-brand(href='/') KnowledgeBase
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-item.mx-2
              a.text-light(href='/') Home
            if user
              li.nav-item.mx-2
                a.text-light(href='/articles/add') Add Article
              li.nav-item.mx-2
                a.text-light(href='/users/logout') Logout
            else
              li.nav-item.mx-2
                a.text-light(href='/users/register') Register
              li.nav-item.mx-2
                a.text-light(href='/users/login') Login
    .container.my-3
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy 2019
    script(src='/js/main.js' defer)