extends layout
block content
  h1 #{title}
  form(method='POST', action='/users/register')
    //- div is default tag if you don't add anything else
    #form-group
      label Name:
        input.form-control(name='name', type='text')
    #form-group
      label Email:
        input.form-control(name='email', type='text')
    #form-group
      label User Name:
        input.form-control(name='username', type='text')
    #form-group
      label Password:
        input.form-control(name='password', type='password')
    #form-group
      label Confirm Password:
        input.form-control(name='password2', type='password')
    input.btn.btn-primary(type='submit', value='Submit')